<header>
    <span class="headertext">
        <span class="sitename">
          <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">
            <img src="{{ 'faf_logo2.png' | prepend: "/images/" | prepend: site.baseurl | prepend: site.url }}" id="faf_logo">
          </a>
        </span>
        {% if page.title and page.title != 'FAF' and page.layout != 'post' %}
            <span class="separator">·</span>
            <span class="pagename">{{page.title}}</span>
        {% elsif page.layout == 'post' %}
            <span class="separator">·</span>
            <span class="pagename">blog</span>
        {% endif %}
    </span>
</header>
